.alm-sticky-note-draggable {
  border: 1px black dotted;
}

.alm-sticky-notes-pane {
  width: 100%;
  height: 100%;
}

.alm-sticky-note-container:hover .alm-sticky-note-remove-button{
  display: block;
}

.alm-sticky-note-remove-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}